$collapsedColor: #4F2E6A;
$expandedColor: #402f50;
$fontColor: #ccc;
$hoverColor: #fff;

.menu ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.menu {
  background-color: $collapsedColor;
  color: $fontColor;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  width: 250px;
  position: absolute;
}

.logo{
  display: block;
  width: 200px;
  margin: auto;
  padding: 20px;
  border-bottom: 2px $expandedColor solid;
}

li {
  padding: 5px 0;
  border-bottom: 2px $expandedColor solid;
  
  li:hover{
    color: $hoverColor;;
    cursor: pointer;
  }  
}

.top-level{
  padding: 10px 0;
}

li .top-level{
  cursor: pointer;
}

i.icon{
  position: absolute;
  left:20px;
  }

i.arrow{
  position: absolute;
  right:20px;
}

.menu-text {
  position: relative;
  left: 60px;
}

.li-container {
  .collapsed{
    display: none;
  }
}







