<div class="menu" >
  <img src="{{logo}}" class="logo">
  <ul>
    
    <li class="li-container collapsed-color" *ngFor="let menu of menuItems" appMenuCollapse>
      <div class="top-level" >
        <i class="icon {{menu.icon}}"></i>
        <span class="menu-text">{{ menu.title }}</span>
        <i class="arrow fa fa-arrow-down" id="arrow"></i>
      </div>
      <ul class="child-level collapsed">
        <li *ngFor="let child of menu.children"  >
          <span class="menu-text">{{ child }}</span>
        </li>
      </ul>
    </li>
  </ul>
</div>